@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
    color: #FDFDFD;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: #000023;
    min-height: 100vh;
}


header{
    margin: 1rem 0;
    border-bottom: 1px solid #334155;
    font-size: 1.3rem;
}

header h1{
    margin: 1rem 0 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    gap: 15px;
}


.quiz-item{
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;
}

.quiz-item h3{
    padding: 1rem 1.8rem;
    overflow: hidden;
    background-color: #230056;
}

.quiz-item dl{
    padding: 1.25rem 1.4rem;
    display: grid;
    gap: 8px;
}

.quiz-item dl dt{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

input{
    all:unset;
    border: 1px solid #94A4B8;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

input:checked{
   border: 1px solid #7800AB;
}

input:checked:before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #7800AB;
    border-radius: 50%;
}

#container{
    min-height:100vh;
    width: 90%;
    max-width: 900px;
    margin: 2rem auto 5rem;
    padding: 8px;
}

#acertos{
    text-align: center;
    background-color: #450078;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 8px;
}

